
/* Set initial variables and values */
html {
    --text: #f0f0f0;
    --background: #0f0f0f;
    --primary: #f0f0f0;
    --secondary: #f0f0f0;
    --accent: #eb8443;
    background-color: var(--background);
    color: #f0f0f0;
}

body {
  font-family: 'Poppins';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Poppins';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 3.053rem; /* 48.8px */}

h2 {font-size: 2.442rem; /* 39.04px */}

h3 {font-size: 1.954rem; /* 31.2px */}

h4 {font-size: 1.563rem; /* 24.96px */}

h5 {font-size: 1.250rem; /* 20px */}

small {font-size: 0.800rem; /* 12.8px */}


body {
    width: 768px;
    margin: 0 auto;
    line-height: 1.2;
    margin-bottom: 60px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
}

.logo-text {
    font-size: 1.250rem;
    font-weight: 600;
}

.logo-text:hover {
    cursor: pointer;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--text);
}

.button {
    transition: ease-in-out 0.2s;
}

.nav-list-item {
    list-style: none;
    margin: 0 10px;
}

.nav-list-item:hover {
    opacity: 0.5;
    cursor: pointer;
}

.banner-container {
    width: 100%;
    height: 180px;
    box-sizing: content-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    background-image: linear-gradient(to bottom, rgba(15, 15, 15, 0.2), rgba(15, 15, 15, 1)), url("./../../assets/imgs/home-page/banners/location-banner-002.png");
    background-position: center;
    border-radius: 10px 10px 0px 0px;
    transition: ease-in-out 0.2s;
}

.clock-container {
    background: rgba(15, 15, 15, 0.5);
    backdrop-filter: blur(40px);
    border-radius: 10px;

    grid-row-start: 1;
    grid-row-end: span 1;
    grid-column-start: 4;
    grid-column-end: span 1;

   margin: 10px;
   margin-left: 50px;

   display: flex;
   justify-content: space-around;
   align-items: center;

   font-size: 12.8px
}

.divider {
    opacity: 0.2;
    transition: ease-in-out 0.8s;
}

.divider.active {
    opacity: 0.8;
}

.name-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}

.email {
    margin: 0 0px;
}

.icon-container {
    width: 24px;
    margin: 10px;
}

#github-icon-container {
    margin: 0px 10px;
}

.icon-container:hover {
    opacity: 0.5;
    cursor: pointer;
}

.technology-gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.technology-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.technology-container:hover {
    opacity: 0.5;
}

.technology-icon {
    width: 26px;
    margin: 0 5px;
}

.technology-icon img {
    width: 100%;
    height: auto;
}

#javascript-icon {
    border-radius: 4px;
}

#mongo-icon {
    border-radius: 4px;
}

.experience-container {
    width: 87%;
    margin: 0 auto;
}

.position {
    width: 100%;
    
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.bullet-point {
    width: 0.800rem;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px 0px;
}

.position-info {
    margin: 0 25px;
    width: 100%;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.job-title {
    margin: 0px;
}

.date {
    font-size: 14px;
}

.description-list {
    padding-left: 18px;
    font-size: 12px;
}

#project-heading {
    text-align: center;
}

.project-gallery {
    width: 85%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

.project {
    width: 100%;
    height: 400px;

    background-image: url("./../../assets/imgs/home-page/projects/pokedex-001.jpg");
    background-size: 52rem;
    background-position: center;
    border-radius: 10px;
    background-repeat: no-repeat;
    overflow: hidden;

    border-color:rgba(240, 240, 240, 0.2);
    border-width: 2px;
    border-style: solid;

    transition: ease-in-out 0.2s;
}

.project:hover {
    transform: scale(1.05);
    transition: ease-in-out 0.2s;
    cursor: pointer;

    border-color:rgba(240, 240, 240, 0.8);
}

.project-link {
    width: 100%;
    height: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-filter {
    width: 100%;
    height: 100%;

    background-color: rgba(15, 15, 15, 0.2);

    transition: ease-in-out 0.2s;
}

.project-filter:hover {
    background-color: rgba(15, 15, 15, 0.0);
    transition: ease-in-out 0.2s;
}

#filter-003 {
    background-color: rgba(15, 15, 15, 0.7);
}

#filter-003:hover {
    background-color: rgba(15, 15, 15, 0.5);
}

#filter-004:hover {
    background-color: rgba(15, 15, 15, 0.1);
}

.project-info {
    width: 100%;
    height: 100%;

    margin: 0 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.project-title {
    margin: 5px 0px;
}

.project-technologies {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin: 5px 0px;
}

.tech-info {
    margin: 0px 10px 0px 0px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.project-technologies img {
    width: 20px;
    height: auto;
    margin: 0px 5px 0px 0px;
}

.tech-info h6 {
    margin: 0px 15px 0px 0px;
    font-weight: 400;
    font-size: small;
}

.project-description-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 10px;
}

.project-description {
    width: 80%;

    font-size: 12px;
    margin: 5px 0px 5px 0px;
}

.github-link {
    border-radius: 20px;
}

.github-icon {
    width: 16px;
}

.visit-icon {
    font-weight: 400;
    width: 16px;
}

.last-row {
    width: 100%;

    margin-bottom: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-container h6 {
    font-size: small;
    font-weight: 400;
    margin: 0px 2px;
}

#project-002 {
    background-image: url("./../../assets/imgs/home-page/projects/ro-sham-bo-001.jpg");
    background-repeat: no-repeat;
    overflow: hidden;
}

#project-003 {
    background-image: url("./../../assets/imgs/home-page/projects/jwalker-swe-portfolio-001.jpg");
    background-repeat: no-repeat;
    overflow: hidden;
}

#project-004 {
    background-image: url("./../../assets/imgs/home-page/projects/pom-pom-001.png");
    background-repeat: no-repeat;
    overflow: hidden;
}

#project-005 {
    background-image: url("./../../assets/imgs/home-page/projects/crate-001.png");
    background-repeat: no-repeat;
    overflow: hidden;
}

.project-icon-container {
    width: 20%;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin: 0px 0px 0px 0px;
}

.project-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-container {
    width: 100%;
    margin: 0px 0px;
}

.link-title {
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0px 5px;
}

.icon-text {
    margin: 0px 10px;
    font-size: 12px;
    font-weight: 400;
}

.link-title:hover {
    opacity: 0.5;
}

.width-container {
    display: flex;
}

@media only screen and (max-width: 768px) {
    body {
        width: 368px;
    }

    .logo-text {
        display: none;
    }

    .nav-container {
        justify-content: center;
    }

    .nav-list {
        padding: 0px;
    }

    .email {
        display: none;
    }

    .technology-name {
        display: none;
    }

    .project-filter {
        background-color: rgba(15, 15, 15, 0.6);
    }

    .project-filter:hover {
        background-color: rgba(15, 15, 15, 0.4);
    }

    .clock-container {
        grid-row-start: 1;
        grid-row-end: span 1;
        grid-column-start: 3;
        grid-column-end: span 2;
    }

    .banner-container {
        background-position: center;
    }

    #project-003 {
        background-size: 40rem;
        background-position: top;
        background-repeat: no-repeat;
        overflow: hidden;
    }

    .last-row {
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 10px;
    }

    .link-title {
        margin-left: 0px;
        font-size: 0.9rem;
    }

    .source-link {
        margin-left: 5px;
    }

    .project-icon-container {
        margin: 5px 0px;
    }

    .project-technologies {
        width: 90%;
        font-size: 10px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .width-container {
        margin: 4px 0;
    }

}